* {
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.font-style {
  font-family: Roboto;
}

/*==========Стили для Головы===========*/
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navigation-link:hover,
.navigation-link:focus {
  color: #2196f3;
}
.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  /* text-transform: uppercase; */
}
.mail-link:hover,
.mail-link:focus {
  color: #2196f3;
}
.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.tel-link:hover,
.tel-link:focus {
  color: #2196f3;
}

/*=======LOGO=========*/
.logo-first {
  color: #2196f3;
}
.logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

/*========= MAIN============*/

/*========== HERO HEDER =======*/
.font-hero-header {
  background-color: #2f303a;
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}
/*Эфективные рещения для вашего бизнеса*/
.text-hero-header {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
/*button*/
.main-button-style {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/*  ======КНОПКИ НАВИГАЦИИ=======
.navigation-btn:hover,
.navigation-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
} */

/* === MAIN ==== 

==== HERO HEADER =====*/
/*=====SECOND SRCTION ОСОБЕННОСТИ======*/
.second-section {
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
}

/*=====THREE SECTION чем занимаемся ======*/
.three-cection {
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}

/*=======FOR SECTION команда====*/
.for-section {
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
}

/*======= FOOTER========*/
.basement {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
}
